@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700&family=Open+Sans:wght@700&family=Roboto:wght@500&display=swap');


body{

  
  background-color:  #1B1E24;
  color: white;
  background-position: fixed;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  background-size: cover;
  font-family: "Roboto", sans-serif;

}

.planet-card
{
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  backdrop-filter: blur(10px);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); Subtle box shadow */
  color: black;
  padding: 3rem 2rem 3rem 2rem;
}
.resident-card
{
  padding: 1rem .5rem .5rem .8rem;
  color: white;
  border-radius:18px;
   background-color: #00C39A;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

.main-spinner{
  width: 500;
  height: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  font-size: 18px;
}

.planet-details{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pagination-nav
{
  display: flex;
  justify-content: flex-end;
}

.hero-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0rem 0rem 0rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px ){
  .planet-card
  {
    padding: 2rem 2rem 2rem 2rem;
  }
  .resident-card{
    width: 200px;
  }
  .hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0rem 0rem 0rem;
    flex-wrap: wrap;
  }

  .pagination-nav
{
  margin-top: 2rem;
}

}